@import url('https://fonts.googleapis.com/css?family=Roboto:300,700');

html, body {
    font-family: 'Roboto', sans-serif;
    background: #FEF8E6;
    margin: 0;
    padding: 0;
}

.text {
    font-weight: 700;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 10rem;
    color: #ED634C;
}